.card {
    background: #fff;
    display: inline-block;
    border: 1px solid #ddd;
  }

.image {
  float: right;
  width:550px;
  height: 400px;
}

.content {
  float: left;
  height: 400px;
  width: 550px;
  overflow: hidden;
  padding: 5px;
}

.content h4 {
  margin: 5px 0;
}
