@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");


html, body{
    height: 100%;
    width: 100%;

}

.navbar{
    background-color: #FFFFFF;
    padding: 1% 0;
    font-size: 20px;
    font-family: 'Raleway';
    text-transform: uppercase;
}

.navbar-brand{
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a{
    color: #0a0a0a
}

.texto-landing{
    color:  #0a0a0a;
    font-family: 'Raleway';
}
.navbar-default .navbar-nav li a:hover,.navbar-default .navbar-nav li a:active{
    color: #0a0a0a;
}

.padding {
    padding: 150px 0;
}

.p-texto {
  font-size: 15px;
  font-family: 'Raleway';

}
